 .Fv01{
    background: url(../img/baki.jpg) repeat center top;
    background-size: contain;
}

.fv_slide_item_wap{
     display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.mihomon_fig{
    width: 200px;
    margin: 2% auto 0 auto;
}
